body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: white;
    transition: background 0.4s;
}
/* NAVBAR */
.navbar {
    width: 100%;
    background: #333;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 10px 0;
}

.navbar li {
    margin: 0 15px;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-size: 17px;
    padding: 8px 15px;
    border-radius: 5px;
    transition: 0.3s;
}

.navbar a:hover, 
.navbar a.active {
    background: #4a90e2;
}

/* Smooth Scrolling */
html {
    scroll-behavior: smooth;
}
header {
    background: #4a90e2;
    color: white;
    padding: 20px;
    text-align: center;
}

main {
    max-width: 900px;
    margin: auto;
    padding: 20px;
}

section {
    margin-bottom: 30px;
}

.main-image {
    width: 100%;
    max-width: 500px;
    display: block;
    margin: auto;
    border-radius: 10px;
}

.btn {
    padding: 12px 20px;
    background: #4a90e2;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    font-size: 16px;
}
.btn:hover {
    background: #357abd;
}

.api-box {
    margin-top: 15px;
    padding: 15px;
    background: #f7f7f7;
    border-left: 5px solid #4a90e2;
    display: none;
    border-radius: 6px;
}

/* TASK 3: Responsive Design */
@media (max-width: 600px) {
    header h1 {
        font-size: 22px;
    }

    .btn {
        width: 100%;
        margin-bottom: 10px;
    }

    .main-image {
        max-width: 100%;
    }
}
/* Card Layout */
.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
    margin-top: 20px;
}

.card {
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    border-left: 5px solid #4a90e2;
}

.card h3 {
    margin-top: 0;
}

.input-box {
    padding: 10px;
    width: 200px;
    border: 2px solid #4a90e2;
    border-radius: 5px;
    margin-right: 10px;
}
header, main {
    transition: background 0.7s ease-in-out;
}

#themeBtn {
    padding: 10px 20px;
    background: #222;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 8px;
}

#themeBtn:hover {
    opacity: 0.8;
}